<h1 class="icon cancel">Завершение обслуживания</h1>

<section class="data scroll">
	<div class="select">Причина отказа в предварительной записи</div>
	<h2 class="icon comments">Комментарий</h2>
	<textarea name="" id="" cols="30" rows="10"></textarea>
	<input routerLink="/" type="button" value="Завершить" />
</section>

<section class="more">
	<h3 class="icon info">Дополнительно</h3>
	<ul>
		<li class="icon print">Печать оснований</li>
		<li class="icon print">Печать необходимых документов</li>
		<li class="icon print">Печать распечаток</li>
	</ul>
</section>
