<section class="coupon">
	<div class="date">03.12.2018</div>
	<div class="id">Предварительная запись 353725</div>

	<p>
		Предварительная запись<br/>
		На услугу: Подать документы на ВНЖ (запись)

		<span class="fio">Алиев Тимур Александрович</span>
		<span class="doc">Паспорт: P49778437</span>
		<span class="id">Номер записи: 353725</span>
		<span class="date">Дата и время приема: 15.12.2018 17:20</span>

		Вход в здание не ранее 30 минут до назначенного времени.
	</p>

	<img src="../../../assets/images/barcode.svg" width="300" height="75" alt="" />

</section>

<input routerLink="/" type="button" value="Готово">
