#logo {
	position: absolute;
	top: 35px;
	left: 30px;
	cursor: pointer;
}

#content {
	display: block;
	background: #fff;
	margin-left: 250px;
	height: 100%;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

#profile {
	position: absolute;
	top: 17px;
	right: 17px;
	z-index: 1000;
}

#number {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	bottom: 70px;
	width: 250px;
	
	border-top: 1px solid #eee;
	
	> label {
		position: absolute;
		font-size: 8pt;
		color: #444E69;
		opacity: 0.5;
		margin-top: -7px;
		left: 30px;
	}
	
	> span {
		cursor: pointer;
		
		display: grid;
		justify-content: center;
		align-content: center;
		
		position: absolute;
		width: 80px;
		height: 35px;
		
		border: 1px solid #999;
		border-radius: 10px;
		
		background-color: #fff;
		background-image: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0));
		
		margin-top: -19px;
		left: 85px;
		
		box-sizing: border-box;
		padding-left: 2px;
		
		font-size: 1.2rem;
		letter-spacing: 3px;
	}
}
