<h1 class="icon money">Платные услуги</h1>
<section class="data scroll">
	<ul>
		<li (click)="toggleClass(0)" [class.active]="isActive[0]">
			<div class="price rub">3 700</div>
			<h2>Консультация</h2>
			<p>Краткое описание услуги. Каждой семье со временем необходима профессиональная консультация психолога. Запишитесь на прием к кандидату медицинских наук главному специалисту и основателю центра. Психотерапевт с огромным практическим опытом (35 лет профессиональной деятельности) ведет прием в  Москве.</p>
		</li>
		<li (click)="toggleClass(1)" [class.active]="isActive[1]">
			<div class="price rub">1 300</div>
			<h2>Тестирование на ВНЖ</h2>
			<p>Краткое описание услуги. Каждой семье со временем необходима профессиональная консультация психолога. Запишитесь на прием к кандидату медицинских наук главному </p>
		</li>
		<li (click)="toggleClass(2)" [class.active]="isActive[2]">
			<div class="price rub">800</div>
			<h2>Медицинское освидетельствование на ВНЖ</h2>
			<p>Краткое описание услуги. Каждой семье со временем необходима профессиональная консультация психолога. Запишитесь на прием к кандидату медицинских наук главному </p>
		</li>
		<li (click)="toggleClass(3)" [class.active]="isActive[3]">
			<div class="price rub">2 650</div>
			<h2>Услуги нотариуса и перевод документов</h2>
			<p>Краткое описание услуги. Каждой семье со временем необходима профессиональная консультация психолога. Запишитесь на прием к кандидату медицинских наук главному </p>
		</li>
	</ul>

	<input routerLink="/pre/time" type="button" value="Выбрать время" />

</section>
