<section class="history">
	<h2 routerLink="/pre/cause" class="icon cause">Высококвалифицированный специалист</h2>
	<h2 routerLink="/pre/docs" class="icon docs">Наличие документов</h2>
	<div class="bar">
		<span></span>
		<label>75%</label>
	</div>
	<h2 routerLink="/pre/time" class="icon calendar">12 декабря – 14:45</h2>
</section>

<h1 class="icon comments">Комментарии</h1>

<section class="data scroll">
	<textarea name="" cols="30" rows="10"></textarea>
	<input [routerLink]="['../complete']" type="button" value="Распечатать талон">
</section>
