<form action="">

	<input type="text" value="Алиев" placeholder="Фамилия" />
	<input type="text" value="Тимур" placeholder="Имя" />
	<input type="text" value="Александрович" placeholder="Отчество" />

	<br/>

	<input type="text" value="Паспорт иностранного гражданина" placeholder="Документ, удостоверяющий личность" class="select">
	<input type="text" value="P49778437" placeholder="Серия и номер документа">

	<br />

	<label for="birth">Дата рождения</label>
	<input class="short datepicker" id="birth" type="text" value="25/03/1998" placeholder="dd/MM/yyyy" />
	<label for="phone">Номер для связи</label>
	<input class="short" id="phone" type="text" value="+7 916 765-17-28" placeholder="+7"/>

	<span class="icon warning"></span>
	<input type="text" value="" placeholder="Электронный адрес"/>

	<br />

	<input class="search" type="text" value="Азербайджан" placeholder="Регион"/>


	<input type="button" value="Обновить" />
</form>
