<h1 class="icon cause">Основание для получения внж</h1>

<section class="scroll">
	<ol routerLink="/pre/docs">
		<li>ИГ или лицо без гражданства, имеющее РВП, достигший(ее) 18 лет</li>
		<li>ИГ или лицо без гражданства, имеющее РВП, не достигший(ее) 18 лет или достигший 18 лет и признанный
			недееспособным либо ограниченным в дееспособности
		</li>
		<li>Высококвалифицированный специалист</li>
		<li>Член семьи высококвалифицированного специалиста, не достигший 18 лет или достигший 18 лет и признанный недееспособным либо ограниченным в дееспособности</li>
		<li>Член семьи высококвалифицированного специалиста, достигший 18 лет</li>
		<li>ИГ, являющийся участником Государственной программы по оказанию содействия добровольному переселению в РФ, имеющий РВП, достигший 18 лет</li>
		<li>ИГ, являющийся участником Государственной программы по оказанию содействия добровольному переселению в РФ, имеющий РВП, не достигший 18 лет или достигший 18 лет и признанный недееспособным либо ограниченным в дееспособности</li>
		<li>Гражданин Республики Беларусь, достигший 18 лет</li>
		<li>Гражданин Республики Беларусь, не достигший 18 лет или достигший 18 лет и признанный недееспособным либо ограниченным в дееспособности</li>
		<li>ИГ, проживающий на территории РФ, у которого прекращено гражданство РФ</li>
		<li>ИГ, зарегистрированный по месту жительства на территории РФ, в отношении которого отменено решение о приобретении гражданства РФ</li>
		<li>ИГ, признанный носителем русского языка</li>
		<li>ИГ, прибывший в Российскую Федерацию в экстренном массовом порядке, признанный беженцем на территории Российской Федерации или получивший временное убежище на территории Российской Федерации и ставший участником Государственной программы</li>
		<li>ИГ, который сам либо родственник по прямой восходящей линии, усыновитель или супруг (супруга) которого был подвергнут незаконной депортации с территории Крымской АССР, достигший 18 лет</li>
		<li>ИГ, который сам либо родственник по прямой восходящей линии, усыновитель или супруг (супруга) которого был подвергнут незаконной депортации с территории Крымской АССР, не достигший 18 лет или достигший 18 лет и признанный недееспособным либо ограниченным в дееспособности</li>
		<li>ИГ, который сам либо родственник по прямой нисходящей линии, усыновитель или супруг (супруга) которого был подвергнут незаконной депортации с территории Крымской АССР, достигший 18 лет</li>
		<li>ИГ, который сам либо родственник по прямой нисходящей линии, усыновитель или супруг (супруга) которого был подвергнут незаконной депортации с территории Крымской АССР, не достигший 18 лет или достигший 18 лет и признанный недееспособным либо ограниченным в дееспособности</li>
		<li>ИГ и члены его семьи, которым в РФ предоставлено политическое убежище</li>
		<li>Продление срока действия ВЖ</li>
		<li>Продление срока действия ВЖ ВКС</li>
	</ol>
</section>
