<form action="">

	<input type="text" value="" placeholder="Фамилия" />
	<input type="text" value="" placeholder="Имя" />
	<input type="text" value="" placeholder="Отчество" />

	<br/>

	<label for="birth">Дата рождения</label>
	<input class="short datepicker" id="birth" type="text" value="" placeholder="dd/MM/yyyy" />

	<br />

	<label for="phone">Номер для связи</label>
	<input class="short" id="phone" type="text" value="" placeholder="+7"/>

	<br />

	<input class="search" type="text" value="" placeholder="Регион"/>

	<input routerLink="/search/results" type="button" value="Найти" />
</form>
