:host {
	display: grid;
	height: 100%;
	background: #fff;
	grid-template-columns: auto;
	grid-template-rows: 120px 60px e("calc(100vh - 240px)");
	
	> section {
		&.history {
			grid-row-start: 1;
			grid-row-end: 2;
			
			padding-top: 1em;
			
			> h2 {
				font-size: 1.2rem;
				font-weight: normal;
				
				padding: 0 50px;
				margin: 0 0 .5em 0;
				
				cursor: pointer;
				
				&:hover {
					color: #31B6D3;
				}
			}
			
			> div.bar {
				margin: 1em 50px 0 50px;
				
				display: grid;
				position: relative;
				width: 150px;
				height: 10px;
				border-radius: 5px;
				border: 1px solid #999;
				padding: 2px;
				
				> span {
					display: grid;
					width: 75%;
					height: 4px;
					border-radius: 2px;
					background: linear-gradient(#86D4E4, #5CB4CF);
				}
				
				> label {
					position: absolute;
					right: -40px;
					bottom: -5px;
					color: #333;
				}
			}
		}

		&.data {
			display: grid;
			padding-top: 1em;
			grid-template-columns: repeat(7, 1fr);
			
			> ul {
				grid-column-start: 1;
				grid-column-end: 3;
				
				list-style: none;
				padding: 0;
				margin: 1em 50px 0 50px;
				
				> li {
					margin-bottom: 1em;
					cursor: pointer;
					
					> span {
						display: block;
						color: #999;
						font-size: .9em;
					}
					
					&:hover {
						color: #31B6D3;
					}
				}
			}
			
			> section.scroll {
				grid-column-start: 3;
				grid-column-end: 8;
				
				border-left: 1px solid #eee;
				
				display: grid;
				grid-template-columns: 1fr 5fr 1fr;
				grid-template-rows: 60px auto;
				
				overflow-y: auto;
				padding: 0 50px 50px 50px;
				
				> img {
					cursor: pointer;
					grid-column-start: 1;
					grid-column-end: 8;
					grid-row-start: 2;
					grid-row-end: 3;
				}
				
				> h2 {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 2;
					
					justify-self: center;
					align-self: start;
					
					font-size: 1.2rem;
					font-weight: normal;
					margin: 0.2em 0 0 0;
					padding: 0;
				}
				
				> div {
					grid-row-start: 1;
					grid-row-end: 2;
					
					align-self: start;
					
					> img {
						margin: .5em 1em;
					}
					
					&.back {
						justify-self: left;
						grid-column-start: 1;
						grid-column-end: 2;
					}
					&.forward {
						justify-self: right;
						grid-column-start: 3;
						grid-column-end: 4;
					}
				}
			}
		}
/*
		&.scroll {
			overflow-y: auto;
			padding: 0 50px 50px 50px;
			
			grid-row-start: 3;
			grid-row-end: 4;
			
			> img {
				cursor: pointer;
				margin-top: 2em;
			}
		}
*/
	}
	
	> h1 {
		font-size: 2vmax;
		font-weight: normal;
		text-transform: uppercase;
		
		padding: 0 50px;
		
		align-self: center;
		
		grid-row-start: 2;
		grid-row-end: 3;
		
		&::before {
			margin-top: .4vmax;
		}
	}
	
	
}
