<section class="history">
	<h2 routerLink="/pre/cause" class="icon cause">Высококвалифицированный специалист</h2>
	<h2 routerLink="/pre/docs" class="icon docs">Наличие документов</h2>
	<div class="bar">
		<span></span>
		<label>75%</label>
	</div>
</section>
<h1 class="icon calendar">Дата и время визита</h1>
<section class="data">
	<!--img routerLink="/pre/comments" src="../../../assets/images/component.png" width="100%" alt="" /-->

	<ul routerLink="/pre/comments">
		<li class="icon hot">26 декабря – 10:45 <span>среда</span></li>
		<li class="icon hot">26 декабря – 15:15 <span>среда</span></li>
		<li class="icon hot">27 декабря – 11:00 <span>четверг</span></li>
		<li class="icon hot">27 декабря – 12:30 <span>четверг</span></li>
		<li class="icon hot">28 декабря – 09:00 <span>пятница</span></li>
	</ul>

	<section class="scroll">
		<div class="back"><img src="../../../assets/images/Left.svg" alt=""></div>
		<div class="forward"><img src="../../../assets/images/Right.svg" alt=""></div>
		<h2>Декабрь, 2018</h2>

		<img routerLink="/pre/comments" src="../../../assets/images/Calendar.svg" width="100%" alt="">

	</section>

</section>
